*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    list-style-type:none;
    text-decoration: none;
}

:root {
    --bg-color : #081b29;
    --second-bg-color : #112e42;
    --text-color : #ededed;
    --main-color : #00abf0;
}

html {
    font-size: 65.5%;
    overflow-x : hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    text-align: center;
}

span {
    color: var(--main-color);
}

.back-btn {
   text-align: left;
   margin: 15px;
   font-size: 2rem;
   color: white;
}

.title {
    padding-top: 30px;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

.head {
    font-size: 1.7rem;
    margin:30px ;
}

.head ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.head ul li {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 400;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
}

.active {
    background-color: var(--main-color);
}

.work-holder {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.work-list {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px,1fr));
    grid-gap: 40px;
    margin-top: 10px;
    margin-bottom: 60px;  
}
 
.work {
    border-radius:10px;
    position: relative;
    overflow: hidden;   
} 

.project_section{
    text-align: center;;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5;
}

.work:hover img {
    transform: scale(1.1);
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #00abf0);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.work:hover .layer {
    height: 100%;
}